<div class="mx-auto" style="width: 300px;">
    <div class="card py-3" style="height: 100%;">
        <div class="card-body">
          <h3 class="text-center">Log in</h3>
          <form [formGroup]="userform" (ngSubmit)="onSubmit(userform)">
            <div class="form-group mt-4 mb-3">
                <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="Enter email" formControlName="email">
                <small class="text-left" style="color: red; font-size: smaller;" *ngIf="userform.controls.email.invalid && (userform.controls.email.dirty || userform.controls.email.touched)">Please Enter valid email</small>
            </div>
            <div class="form-group my-3">
                <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
                <small class="text-justify" style="color: red; font-size: smaller;" *ngIf="userform.controls.password.invalid && (userform.controls.password.dirty || userform.controls.password.touched)">uppercase,lowercase,and special char required</small>
            </div>
            <button class="btn btn-md btn-primary" type="submit" style="width: 100%;">Login</button>
          </form>
          
        </div>
        <a class="text-center" routerLink="/signup"><small>Sign up</small></a>
      </div>
</div>
